name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  format:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install build dependencies
        run: make install
      - name: Run make format
        run: make format
      - name: Build checking
        run: make build
